Repository uci-uav-forge/uavf_2024, pull requests merged in 2023-10, with the labels that each got.

#1 Add basic dev container setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.md
  scripts/README.md
Labels: documentation, enhancement

#24 Extract tiler and add overlap
  tests/imaging_utils_tests.py
  uavf_2024/imaging/image_processor.py
  uavf_2024/imaging/imaging_types.py
  uavf_2024/imaging/utils.py
Labels: Object Detection, Imaging

#35 More specific imaging types
  tests/imaging_frontend_tests.py
  tests/imaging_integ_tests.py
  tests/imaging_types_tests.py
  tests/imaging_utils_tests.py
  uavf_2024/imaging/color_segmentation/color_segment.py
  uavf_2024/imaging/image_processor.py
  uavf_2024/imaging/imaging_types.py
  uavf_2024/imaging/shape_detection/shape_instance_segmenter.py
  uavf_2024/imaging/utils.py
Labels: enhancement, Imaging
